<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="DB_CONNECTIONSTRING" value="Server=tcp:iszi-bi-sql-dev.database.windows.net,1433;Initial Catalog=ISZI-BI-DAB-DEV_Copy;Persist Security Info=False;User ID=ISZI-BI-USR-sqladm-DEV;Password=@PASSWORD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
      <add key="DB_SQLCOMMANDTIMEOUT_SEC" value="3600" />
      <add key="COOSPACESERVICE_TIMER_INTERVAL_SEC" value="600" />

      <add key="COOSPACESERVICE_WEBDAV_BASEADDRESS" value="https://coospace.gmf.u-szeged.hu/webdav/scenes/ISZI BI DataSource [3037]/" />
      <add key="COOSPACESERVICE_WEBDAV_CREDENTIAL_USERNAME" value="azr-svc-bi-adf-dev" />

      <add key="SERVICE_NAME" value="SZTEBIWS - Pirula" />
      <!--<add key="SERVICE_NAME" value="SZTEBIWS - SzaKKVir" />-->

      <add key="ADF_TENANT_ID" value="c19fa3e5-2e26-4e2b-a7b4-ff74b7c71a84" />
      <add key="ADF_CLIENT_ID" value="62f139da-b3e2-432d-91ec-82f8b40095aa" />
      <add key="ADF_RESOURCE_ID" value="https://management.azure.com/" />
      <add key="ADF_SUBSCRIPTION_ID" value="28732c93-4cf3-41a0-a3b5-7d45d56fdfb7" />               
      <add key="ADF_RESOURCEGROUP_NAME" value="ISZI-BI-REG-DEV" />
      <add key="ADF_DATAFACTORY_NAME" value="ISZI-BI-ADF-DEV" />
      <add key="ADF_PIPELINE_NAME" value="SZTEBI_Source_Level" />      

      <add key="PBI_TENANT_ID" value="c19fa3e5-2e26-4e2b-a7b4-ff74b7c71a84" />
      <add key="PBI_CLIENT_ID" value="62f139da-b3e2-432d-91ec-82f8b40095aa" />
      <add key="PBI_RESOURCE_ID" value="https://analysis.windows.net/powerbi/api" />        
      <add key="PBI_API_URL_TEMPLATE" value="https://api.powerbi.com/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshes" />
      <add key="PBI_ROOT_URL" value="https://api.powerbi.com/" />
      <add key="PBI_WORKSPACE_ID" value="8289ed6b-8b86-451a-ad9f-5c996a2ab929" />
      <add key="PBI_CSV_DATASET_NAMES" value="5.5.4, 5.5.5" />

      <add key="EMAIL_SMTP_ADDRESS" value="localhost" />
      <add key="EMAIL_SMTP_PORT" value="25" />
      <add key="EMAIL_FROM_ADDRESS" value="gnadigi@gmail.com" />
      <add key="EMAIL_TO_ADDRESS" value="gnadigi@gmail.com" />
      <add key="EMAIL_SUBJECT_TEMPLATE" value="Devtest" />
      <add key="EMAIL_BODY_TEMPLATE" value="Devtest" />
      <add key="EMAIL_SMTP_USERNAME" value="username" />

      <add key="DAILY_START_OFFSET_TIMESPAN" value="01:00:00" />
      <add key="RECURRING_RUN_INTERVAL_TIMESPAN" value="00:00:30" />
      <add key="RUN_DAILY" value="true" />        

    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.9" newVersion="6.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.63.0.0" newVersion="4.63.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.63.0.0" newVersion="4.63.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>